{% extends "base.html" %}

{% block content %}

<div class="container text-center">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6 search-gr position-absolute top-50 start-50 translate-middle">
            <label for="url" class="form-label pi-label">Your product URL</label>
            <div class="input-group mb-3">
                <input class="form-control search-form-input" type="url" name="url" id="url"
                    placeholder="https://example.com" pattern="https://.*" size="30" required>
            </div>
            <button type="button" class="btn btn-primary search-form-btn" disabled>Submit</button>
            <button type="button" class="btn btn-secondary search-form-clear-btn">Clear</button>
        </div>


        <div class="col-lg-3"></div>

    </div>
    <div class="row first-product-row mt-3">
        <div class="col-lg-6">
            <h1>
                YOUR Product
            </h1>
        </div>
        <div class="col-lg-6">
            <div class="card first-product shadow p-3 mb-5 bg-body rounded" style="width: 30rem;">
                <div class="first-product-img">
                    <img src="#" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <div class="first-product-title">
                        <h5 class="card-title">#</h5>
                    </div>
                    <div class="first-product-gpu">
                        <h6 class="card-subtitle mb-2 text-muted">#</h6>
                    </div>
                    <div class="first-product-price">
                        <p class="price">#</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row second-product-row mt-3">
        <div class="col-lg-6">
            <h1>
                YOUR Product
            </h1>
        </div>
        <div class="col-lg-6">
            <div class="card second-product shadow p-3 mb-5 bg-body rounded" style="width: 30rem;">
                <div class="second-product-img">
                    <img src="#" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <div class="second-product-title">
                        <h5 class="card-title">#</h5>
                    </div>
                    <div class="second-product-gpu">
                        <h6 class="card-subtitle mb-2 text-muted">#</h6>
                    </div>
                    <div class="second-product-price">
                        <p class="price">#</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}