{% extends "base.html" %}

{% block content %}

<div class="container text-center">
    <div class="row">
        <div class="col-lg-3"></div>


        <div class="col-lg-6">
            <label for="url" class="form-label pi-label">Your product URL</label>
            <div class="input-group mb-3">
                <input class="form-control search-form-input" type="url" name="url" id="url"
                    placeholder="https://example.com" pattern="https://.*" size="30" required>
            </div>
            <button type="button" class="btn btn-primary search-form-btn" disabled>Submit</button>
            <button type="button" class="btn btn-secondary search-form-clear-btn">Clear</button>
        </div>


        <div class="col-lg-3"></div>

    </div>
    <div class="row">
        <div class="col-lg-6">
            <h1>
                YOUR Product
            </h1>
        </div>
        <div class="col-lg-6"><input /></div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <h1>
                Our Suggestion
            </h1>
        </div>
        <div class="col-lg-6"><input /></div>
    </div>

</div>

{% endblock %}